
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
   
}
section{
    margin-bottom: 120px;
}

.header-background{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
p{
    text-align: justify;
}
h1{
    font-size: 50px;
}
.header-banner{
   display: flex;
}
.half-width{
    width: 50%;
    margin-left: 80px;  
}
.half-width img{
    width: 90%;
}
.color{
    color:tomato;
}
.link-button{
    background-image: linear-gradient(45deg, rgb(239, 117, 95), rgb(244, 43, 7));
    padding: 10px 20px;
    color:white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration:none; 
}
.dream-background{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.ex-background{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiences-area{
    display: flex;
}
.experience{
    width: 35%;
    margin-left: 75px;
    padding: 40px;
    box-shadow: 10px 10px 30px gray;
    border-radius: 5px;

}
#fullstack{
    border-left: 7px solid tomato;
}
#baby-web{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
}